<div class="mat-elevation-z8 example-container 
example-header">
  <table mat-table [dataSource] = "dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container  matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="cambiardatos(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br>
<!-- <div class="">
  <form action="">
    <label for="fname">Modificar</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  
    <input type="submit" value="Modificar">
    <input type="submit" value="Eliminar">
  </form>
</div> -->

<div class="container">
    <form action="/action_page.php">
      <label for="fname">Modificar</label>
      <br>

      <label for="fname">Nombre</label>
      <input [(ngModel)]="nombre" type="text" id="nombre" name="nombre">

      <label for="fname">Correo</label>
      <input [(ngModel)]="correo" type="text" id="correo" name="correo">

      <label for="fname">Asunto</label>
      <input [(ngModel)]="asunto" type="text" id="asunto" name="asunto">

      <label for="fname">Mensaje</label>
      <input [(ngModel)]="mensaje" type="text" id="mensaje" name="mensaje">

      <div class="row">
        <input (click)="eliminarUsuario()" type="submit" value="Eliminar">
        <input (click)="editarUsuario()" type="submit" value="Modificar">
        <div class="submit-loader">
            <div class="text-loader">Sending...</div>
            <div class="s-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
      </div>
    </form>
  </div>



